# Dépendances
node_modules/

# Fichiers de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Répertoire de build
dist/

# Fichiers d'environnement
.env
.env.*
.env.*.local

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de couverture de tests
coverage/

# Fichiers temporaires
*.tmp
*.temp

# Fichiers d'IDE et d'éditeurs
.vscode/
.idea/
*.swp
*.swo

# Autres
*.pid
*.seed
*.pid.lock
